
<div class="link-button show-help-link"><a id="show-help-link">Legend</a></div>
    <div class="status-help-panel hide" title="Legend">
      <table>
        <thead>
          <tr>
            <th>Receipt Status</th>
            <th>Meaning</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              TO_BE_APPROVED_BY_POC
            </td>
            <td>
              POC Approval Pending
            </td>
          </tr>
          <tr>
            <td>
              TO_BE_APPROVED_BY_EVENT_HEAD
            </td>
            <td>
              Event Head Approval Pending
            </td>
          </tr>
          <tr>
            <td>
              DEPOSIT_PENDING
            </td>
            <td>
              National Finanace Fellow Approval Pending
            </td>
          </tr>
          <tr>
            <td>
              DEPOSIT COMPLETE
            </td>
            <td>
              National Finanace Fellow Approved Deposit
            </td>
          </tr>
          <tr>
            <td>
              RECEIPT PENDING
            </td>
            <td>
              80g Receipt Pending By Natinal Finance Fellow
            </td>
          </tr>
          <tr>
            <td>
              RECEIPT SENT
            </td>
            <td>
              80g Receipt Sent By Natinal Finance Fellow
            </td>
          </tr>
          <tr>
            <td>
              HAND_OVER_TO_FC_PENDING
            </td>
            <td>
              Finance Fellow Approval Pending
            </td>
          </tr>
           <tr>
            <td>
              EVENT_DONATION_HAND_OVER_TO_FC_PENDING
            </td>
            <td>
              POC Approval Pending
            </td>
          </tr>
          <tr>
            <td>
              EVENT_DONATION_DEPOSIT_PENDING
            </td>
            <td>
              Event Head Approval Pending
            </td>
          </tr>
          <tr>
            <td>
              EVENT_DONATION_DEPOSIT_COMPLETE
            </td>
            <td>
              National Finanace Fellow Approved Deposit
            </td>
          </tr>
        </tbody>  
      </table>
    </div>
